html {
}

a {
  word-break: break-all;
}

body {
  background-color: white;
	text-align: center;
  margin: 0;
  padding: 0;
  overflow-x:hidden;

}

#editor-container {
  height: 375px;
}



div {
  padding: 4px;
}

.modal-content {
  background-color: #CCCCCC;
}

#title {
  margin-top: 2vh;
}

@media (max-width: 480px) {
      h1 { font-size: 5vw !important; }
      h2 { font-size: 5vw !important; }
}

#container {
  width: 99vw;
  height: 99vh;
}

h2 {
    color: black;
	font-family: Arial;
	text-align: center;
}

h1 {
    color: black;
	font-family: Arial;
	text-align: center;
}

#startButtons {
	margin-top: 1vh;
}

@media only screen and (max-width: 768px) {
	.mobile-input-class {
		text-align: center;
		display: inline-block;
		float: none !important;
	}
}

#introPara {
    color: #303232;
}
#statusNotAuth {
    color: #d65628;
}
#statusAuth {
    color: #d65628;
}
#startButtons {
	text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: HelveticaNeue;
}

li a:hover:not(.active) {
    background-color: #FFFFFF;
    color: #2a5c91
}

.active {
    background-color: #303232;
    color: white;
}

#preview_site
{
	width:80vw;
	border: 1px;
	padding: 5px;
}

/* .btn {
  display: inline-block;
  margin-left: 10vw;
  vertical-align: text-bottom !important;
} */

.col {
  width: 80vw;
}

.card {
  max-width: 18rem !important;
}

.btn {
  margin-left: 1vw;
}
